# Astro 生成文件
dist/
.astro/

# 依赖
node_modules/

# 环境变量
.env
.env.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# 系统文件
.DS_Store
Thumbs.db

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 其他
.cache/

# 截图文件
screenshot*.png
